* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    /* Optional */
}

#background {
    position: absolute;
    top: 0;
    left: 0;
    width: 99vw;
    height: auto;
    z-index: -1;
}


body.custom-cursor {
    cursor: url('../visual/Bone.cur') 40 40, auto;
    /* cursor: url('../visual/Bone.cur'), auto; */
}


.openPopup {
    position: absolute;
    width: 100px;
    height: 100px;
    top: 0px;
    left: 0;
    opacity: 0;
}

.openPopup:hover {
    cursor: pointer;
}

.EnormNoBullshit {
    max-width: 80%;
    /* Adjust to fit screen */
    max-height: 80vh;
    border: 2px solid white;
    /* Optional styling */
}


.hondje {
    top: 40px;
    left: 35px;
    width: 200px;
    height: 160px;
    position: absolute;
    pointer-events: none;
    border-radius: 50%;
    opacity: 0;
}

#LogoBlank {
    position: absolute;
    top: 25px;
    left: 20px;
}

#EnergyCanCreative {
    position: absolute;
    top: 2300px;
    right: 570px;
    opacity: 0%; 
}

#EnergyCanLogo {
    position: absolute;
    top: 20px;
    left: 65px;
    opacity: 0%;
}

#EnergyCanSocial {
    position: absolute;
    top: 2980px;
    left: 390px;
     opacity: 0%; 
}

.VideoPopUp {
    position: fixed;
    top: 50%;
    left: 27%;
    transform: translate(-50%, -50%);
    width: 80%;
    max-width: 300px;
}

#EnergyCanCreative:hover {
    opacity: 100%;
}

#EnergyCanLogo:hover {
    opacity: 100%;
}

#EnergyCanSocial:hover {
    opacity: 100%;
}

/* .animate-right {
    animation: walkR 7s linear;
}

.animate-left {
    animation-delay: 7s;
    animation: walkL 7s linear;
} */

.hidden {
    display: none;
}

/* @keyframes walkR {
    0% {
        transform: translateX(0) translateY(0);
    }

    5% {
        transform: translateX(5vw) translateY(-20px);
    }

    10% {
        transform: translateX(10vw) translateY(0);
    }

    15% {
        transform: translateX(15vw) translateY(-20px);
    }

    20% {
        transform: translateX(20vw) translateY(0);
    }

    25% {
        transform: translateX(25vw) translateY(-20px);
    }

    30% {
        transform: translateX(30vw) translateY(0);
    }

    35% {
        transform: translateX(35vw) translateY(-20px);
    }

    40% {
        transform: translateX(40vw) translateY(0);
    }

    45% {
        transform: translateX(45vw) translateY(-20px);
    }

    50% {
        transform: translateX(50vw) translateY(0);
    }

    55% {
        transform: translateX(55vw) translateY(-20px);
    }

    60% {
        transform: translateX(60vw) translateY(0);
    }

    65% {
        transform: translateX(65vw) translateY(-20px);
    }

    70% {
        transform: translateX(70vw) translateY(0);
    }

    75% {
        transform: translateX(75vw) translateY(-20px);
    }

    80% {
        transform: translateX(80vw) translateY(0);
    }

    85% {
        transform: translateX(85vw) translateY(-20px);
    }

    90% {
        transform: translateX(90vw) translateY(0);
    }

    95% {
        transform: translateX(95vw) translateY(-20px);
    }

    100% {
        transform: translateX(100vw) translateY(0);
    }
}

@keyframes walkL {
    0% {
        transform: translateX(100vw) translateY(0);
    }

    5% {
        transform: translateX(95vw) translateY(-20px);
    }

    10% {
        transform: translateX(90vw) translateY(0);
    }

    15% {
        transform: translateX(85vw) translateY(-20px);
    }

    20% {
        transform: translateX(80vw) translateY(0);
    }

    25% {
        transform: translateX(75vw) translateY(-20px);
    }

    30% {
        transform: translateX(70vw) translateY(0);
    }

    35% {
        transform: translateX(65vw) translateY(-20px);
    }

    40% {
        transform: translateX(60vw) translateY(0);
    }

    45% {
        transform: translateX(55vw) translateY(-20px);
    }

    50% {
        transform: translateX(50vw) translateY(0);
    }

    55% {
        transform: translateX(45vw) translateY(-20px);
    }

    60% {
        transform: translateX(40vw) translateY(0);
    }

    65% {
        transform: translateX(35vw) translateY(-20px);
    }

    70% {
        transform: translateX(30vw) translateY(0);
    }

    75% {
        transform: translateX(25vw) translateY(-20px);
    }

    80% {
        transform: translateX(20vw) translateY(0);
    }

    85% {
        transform: translateX(15vw) translateY(-20px);
    }

    90% {
        transform: translateX(10vw) translateY(0);
    }

    95% {
        transform: translateX(5vw) translateY(-20px);
    }

    100% {
        transform: translateX(0) translateY(0);
    }
} */